<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Читатель</title>
</head>
<body>

<p th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYear()}">VALUE</p>
<p th:text="${'id: ' + book.getBookId()}">VALUE</p>
<!--<p th:text="${'Email: ' + book.getEmail()}">VALUE</p>-->

<!--<a th:href="@{/book/{id}/edit(id=${book.getId()})}">Edit</a>-->

<!--<form th:method="DELETE" th:action="@{/people/{id}(id=${book.getId()})}">-->
<!--    <input type="submit" value="Delete"/>-->
<!--</form>-->

</body>