<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Читатель</title>
</head>
<body>

<p th:text="${human.getFullName() + ', ' + human.getYearOfBirth()}">VALUE</p>
<p th:text="${'id: ' + human.getPersonId()}">VALUE</p>

<div th:if="${not #lists.isEmpty(books)}">
    <strong>Книги:</strong>
    <div th:each="book : ${books}" style="margin-top: 10px;">
        <p th:text="|${book.name} - ${book.author} (${book.year})|">
            Информация о книге
        </p>
    </div>
</div>
<div th:unless="${not #lists.isEmpty(books)}">
    <p>У этого человека пока нет книг</p>
</div>
<br/>
<a th:href="@{/human/{id}/edit(id=${human.getPersonId()})}">Редактировать!</a>

</body>