<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Читатель</title>
</head>
<body>

<p th:text="${human.getFullName() + ', ' + human.getYearOfBirth()}">VALUE</p>
<p th:text="${'id: ' + human.getPersonId()}">VALUE</p>

<div th:if="${not #lists.isEmpty(books)}">
    <strong>Книги:</strong>
    <div th:each="book : ${books}">

        <span th:if="${book.expired}" style="color: red; font-weight: bold;">
            <span th:text="|${book.name}, ${book.author}, ${book.year}|"></span>
        </span>

        <span th:unless="${book.expired}">
            <span th:text="|${book.name}, ${book.author}, ${book.year}|"></span>
        </span>

    </div>
</div>
<div th:unless="${not #lists.isEmpty(books)}">
    <p>У этого человека пока нет книг</p>
</div>
<br/>
<a th:href="@{/human/{id}/edit(id=${human.getPersonId()})}">Редактировать!</a>
<br/>
<form th:method="DELETE" th:action="@{/human/{id}(id=${human.getPersonId()})}">
    <input type="submit" value="Delete"/>
</form>

</body>